*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "Arial Rounded MT Bold";
}
nav{
    background: #3a8bcd;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px ;
    line-height: 80px;
    padding: 0 100px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;

}
a.active, a:hover{
    background:blue;
}
.nav-item{
    display: inline-block;
    line-height: 80px;
    margin: 0 2px;
}
select{
   border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 5px;
}
button{
    /*width: 100px;*/
    background: #005cbf;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 15px;
    border: none;

}
/*section{*/
/*    !*background-image:  url(../images/televizor.png) ;*!*/
/*    !*background-size: cover;*!*/
/*    background-color: #34ce57;*/
/*}*/
/*.box{*/
/*    background-color: #ffeeba;*/
/*    background-image:  url(../images/televizor.png) ;*/
/*    background-size: cover;*/
/*}*/
body{
    /*background-color: #ffeeba;*/

}
.big-div{
    /*Asta controleaza pe cel verde*/
    /*background-color: #9fcdff;*/
    /*border: 5px solid black;*/
    /*margin: 5px;*/
    text-align: right;


}
.first-div{
    /*Aici avem toate produsele introduse*/
    background-color: white;
    width: 80%;
    /*border: 5px solid black;*/
    border-radius: 5px;
    /*margin: 1px;*/
    text-align: center;
    display: inline-block;
    /*background-image:  url(../images/city.jpg);*/
    /*background-position: center;*/

}
.second-div{
    /*Fiecare produs in parte*/
    background-color: white;
    width: 200px;
    float:left;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,.15);
}
h4{
    font-size: 20px;
    padding: 5px 0px;

}
h6{
    /*Price nr*/
    font-size: 20px;
    color: blue;
    padding: 5px 0px;
}
img#p1{
    width: 90%;
    /*border: 5px solid black;*/
    border-radius: 5px;
    margin: 5px;
}
h3{
    font-size: 40px;

}
.price-nr{
    float:left;
    margin: 5px;
}
.price-text{
    float:left;
    font-size: 20px;
    margin: 5px;
}
.price-div{
    background-color:bisque;
    float:left;
    border-radius: 5px;
    margin: 5px;
}
.left-div{
    float: left;
    background-color: #533f03;
    width: 20%;
    height: 700px;
    padding: 20px;
    text-align: center;
    background-image:  url(../images/back3.jpg);
    /*margin: 100px auto;*/


}
label#left-div-label{
    color: white;

}
.form-label {
   font-size: 20px;
    /*border: 1px solid black;*/
}
input{
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 5px;

}
select#add-edit{
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 5px;

}
.form-group{
    /*width: 300px;*/
   alignment: center;
    /*border-radius: 4px;*/
    /*background: #b3d7ff;*/
    padding: 7px 5px;
    /*border: 1px solid black;*/

}
.addItemSection-div{
    alignment: center;
}
.addItemSection-div{
    alignment: center;
}

.form-horizontal{
    /*border: 1px solid black;*/
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 10px;

}
input#email,#password, #firstName, #lastName,
#userRole,#product_name, #product_description,
#product_starting_price, #product_category,
#auction_end_time, #product_image, #product_id,
#product_category1{
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px 50px;
    font-size: 15px;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,.15);

}
.control-label{
    font-size: 25px;
    padding: 20px;

}
.btn{
    padding: 10px 10px;
    font-size: 15px;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,.15);
}
.btn:hover{
    background:green;
}
div.controls{
    padding: 5px;
}
legend#legend-login{
    /*width: 300px;*/
    font-size: 35px;
    /*padding: 10px;*/
    /*border: 1px solid black;*/
    border-radius: 4px;
    color: #005cbf;

}
div#legend{
    /*border: 3px solid black;*/
    /*text-align: center;*/
    /*alignment: center;*/
}
div.control-group{
    /*border: 1px solid blue;*/
    padding: 10px
}
label#scris-stanga{

    color: white;
    font-size: 35px;
    /*padding: 5px;*/
}
label#scris-stanga1{

    color: white;
    font-size: 25px;
    /*padding: 40px 0px;*/
}
div.left-label-div{
    padding: 30px 0px;
}
img{
    padding: 5px 0px;
    border-radius: 4px;
}
span{
    font-size: 20px;
}
span#Current\ bid\ price{
    color: blue;
}
span#Current\ bid\ price\ wining,#Current\ bid\ price\ won{
    color: limegreen;
    font-size: 30px;
}
span#Current\ bid\ price\ losing,#Current\ bid\ price\ losing1{
    color: red;
    font-size: 30px;
}
div.d-flex{
    padding: 5px;
}
/*div.control-group{*/
/*    text-align: left;*/
/*}*/
/*form{*/
/*    width:40%;*/
/*    alignment: center;*/
/*}*/