<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<form class="form-horizontal"  th:object="${userDto}" th:action="@{/addUser}" method="post">
  <fieldset>

    <!-- Form Name -->
    <legend>USER</legend>

    <!-- User firstname area-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="user_first_name">First name:</label>
      <div class="col-md-4">
        <input id="user_first_name"  th:field="*{firstName}" name="name" placeholder="First name" class="form-control input-md" required="" type="text">

      </div>
    </div>

    <!-- User lastname area-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="user_last_name">Last name:</label>
      <div class="col-md-4">
        <input id="user_last_name"   th:field="*{lastName}" name="lastName" placeholder="Last name" class="form-control input-md" required="" type="text">

      </div>
    </div>

    <!-- User email adress area-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="user_email">Email adress:</label>
      <div class="col-md-4">
        <input id="user_email" th:field="*{email}"  name="email" placeholder="Email adress" class="form-control input-md" required="" type="text">

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Add User.</button>
      </div>
    </div>
  </fieldset>
</form>


</body>
</html>