<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>This is the online Auction aplication</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fontawesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/tooplate-main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/owl.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom.css}"/>

</head>
<body>
<div class="featured container no-gutter">

    <div class="row posts">



        <div id="1" class="item new col-md-4" th:each="product:${products}">
            <a href="single-product.html">
                <div class="featured-item">
                    <img src="assets/images/product-01.jpg" alt="">
                    <h4 th:text="${product.name}"></h4th:text></h4>
                    <h6 th:text="${product.startBidingPrice}"></h6>
                </div>
            </a>
        </div>


    </div>
</div>
</body>
</html>