<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fontawesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/tooplate-main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/owl.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom.css}"/>

</head>
<body>

<div class="featured container no-gutter">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a sec:authorize="hasRole('ROLE_BIDDER')" class="nav-link" href="/myProducts">My products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('ROLE_SELLER')"class="nav-link" href="/addItem">Add Item</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link " href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link " href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="row posts homePage">

        <div id="1" class="item new col-md-4" th:each="product:${products}">
            <a th:href="@{/item/{id}(id=${product.id})}">
                <div class="featured-item">
                    <img th:src="${'data:image/png;base64,'+product.image}" alt="">
                    <h4 th:text="${product.name}"></h4th:text></h4>
                    <h6 th:if="${product.currentBidPrice != '0'}" th:text="${product.currentBidPrice}"></h6>
                    <h6 th:if="${product.currentBidPrice == '0'}" th:text="${product.startBidingPrice}"></h6>
                </div>
            </a>
        </div>


    </div>
</div>
</body>
</html>