<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/stylesMircea.css}"/>
</head>
<body>

    <nav>
        <label class="logo">AuctionShop</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Add Item</a></li>
            <li><a href="#">Product List</a></li>
            <li><a href="#">Logaut</a></li>
            <li><a href="#">Sort by:</a></li>


        </ul>
    </nav>



</body>
</html>